body {
  font-family: arial;
}

.title-div {
  width:100%;
  text-align: center;
  background-color: #04397D;
  height:20em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-right-container {
  display: inline-block;
}

.image-top {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.page-title {
  color:white;
  font-size: 2.2em;
}

.aider-jeunesse {
  color:#FF8717;
  margin-top:1em;
}

.title-container {
  position:absolute;
  padding:0 3em;
}

.content-container {
  padding:3em 15em;
  display: inline-block;
  vertical-align: middle;
  position:relative;
}

.right-container {
  width:40%;
  height:100%;
  float:right;
  height:inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.left-container {
  width:60%;
  padding-right:10em;
  text-align: justify;
  float:left;
}

.text {
  padding:0 0;
  margin:0.3em 0;
}

.next-text {
  width:100%;
  display: inline-block;
  margin-top: 2em;
  text-align: justify;
  background-color: #E1E1E1;
  padding: 3em 15em;
}

.image {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.formes-implication {
  padding:3em 15em;
  background-color: #04397D;
  color:white;
  display: inline-block;
  width:100%;
}

.cmt-simpliquer {
  font-size:2em;
  text-align:center;
  display: block;
  margin-bottom:1em;
}

.implication-right {
  width:50%;
  float:right;
  padding-left: 2em;
  padding-right:3em;
  text-align: justify;
}

.implication-left {
  float:left;
  width:50%;
  text-align: justify;
  padding-right:5em;
}

.text-implication {
  margin-top:1em;
  display: block;
}

.domaines-img {
  height:4em;
}

.dom-intervention {
  text-align:center;
  padding:4em 15em;
}

.domaines-text {
  margin-top:1em;
}

.dom-int-title {
  font-size:2em;
}

.right-container-equipe {
  width:50%;
  flex:1;
  float:right;
  text-align: justify;
  background-color: #E1E1E1;
  padding:4em 5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left-container-equipe {
  width:50%;
  float:left;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height:inherit:
}

.left-right-container-equipe {
  display:flex;
}

.small-container-equipe {
  display: inline-block;
}

.un-dirigeant {
  width:100%;
  display: inline-block;
}

.dirig-img {
  border-radius: 50px;
  height:4em;
}

.left-div-dirig {
  width:4em;
  float:left;
  margin-right: 1.5em;
}

.right-div-dirig {
  padding:.5em 1em;
  margin-left:1em;
  position:relative;
}

.sec-color {
  color:#FF8717;
}

.prim-color {
  color:#06397C;
}

.foot {
  margin-left:15em;
  margin-right:15em;
  border-width:1px;
  border-color:grey;
  border-style:solid;
  border-bottom:none;
  border-right:none;
  border-left:none;
  padding-top:2em;
  height:8em;
}

.tel-div {
  width:50%;
  float:left;
}

.email-div {
  width:50%;
  float:left;
}

.linkedin-div {
  width:50%;
  float:right;
}

.smaller-div-tel {
  text-align: center;
}

.smaller-div-email {
  text-align:center;
}

.smaller-div-linkedin {
  text-align:center;
}

.telephone {
  font-size:.9em;
}

.email {
  font-size:.9em;
}
